body {
  text-align: center;
  font-family: "Gugi", cursive;
  background: linear-gradient(to right, #1f1bff, #e3e0ec);
}
div {
  border: 2px dashed #1f1bff;
  margin: 10px;
  padding: 5px 30px;
  border-radius: 15pc;
  box-shadow: 10px 12px #999;
}
#Principal {
  width: 50px;
  float: left;
  border-radius: 50%;
}
.gugi-regular {
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

div h3 {
  font-family: "Rubik", sans-serif;
  text-shadow: 10px 5px #999;
}
